<link rel="stylesheet" href="/stylesheets/products.css"/>
<section class="m-3 p-3">
    <div class="d-flex justify-content-end">
        <a href="/admin/add-products-page">
            <button type="button" class="btn btn-success">Add</button>
        </div>
    </a>
    <div class="table-responsive my-2">
        <table class="table table-striped table-hover table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">NAME</th>
                    <th scope="col">CATAGORY</th>
                    <th scope="col">PRIcE</th>
                    <th scope="col">DESC</th>
                    <th scope="col">IMAGE</th>
                </tr>
            </thead>
            <tbody>
                {{#each products }}
                    <tr>
                        <th scope="row">1</th>
                        <td>{{this.name}}</td>
                        <td>{{this.catagory}}</td>
                        <td>{{this.price}}</td>
                        <td>{{this.discription}}</td>
                        <td>
                            <img style="width: 25px;
                                        height: 25px;"
                                 src="/products/{{this.img}}"
                                 alt=""/>
                        </td>
                        <td>
                            <a class="btn btn-warning">Edit</a>
                        </td>
                        <td>
                            <a class="btn btn-danger"
                               href="/admin/deleteProduct/{{this._id}}"
                               onclick="return confirm('Are you sure you want to delete {{this.name}} ?');">Delete</a>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>
</div>
